@charset "UTF-8";



body{
    background-image: url(interior-design-coffeehouse-restaurant-liquor-store-cafe-bar-1540281-pxhere.com.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    
}
